.popup {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.popup > .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup > .container > .left-button, .popup > .container > .right-button {
  font-size: 3em;
  padding: 1em;
  background: none;
  color: white;
}

.popup > .container > .left-button:hover, .popup > .container > .right-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.popup > .container > .picture-container {
  position: relative;
  height: 100%;
}

.popup > .container > .picture-container > img {
  max-width: 100%;
  max-height: 100%;
}

.popup > .container > .picture-container > .title-container {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
  background-color: rgb(0, 0, 0, 0.5);
}

.popup > .container > .picture-container > .title-container > .title {
  color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-bottom: 3px;
}

.popup > .container > .picture-container > .close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  font-size: 1.5em;
  border-bottom-left-radius: 25px;
}

.popup > .container > .picture-container > .close-button:hover {
  background-color: rgb(0, 0, 0, 1);
  color: rgb(255, 255, 255, 1);
}
