.page-albums > .container {
  width: 60%;
  height: 75%;
  border-radius: 20px;
}

.page-albums > .container > .title {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 2em;
}

.page-albums > .container > .albums {
  height: 65%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 5px;
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 1rem;
  justify-content: space-evenly;
}

.page-albums > .container > .button-container {
  text-align: center;
  height: 15%;
}

.page-albums > .container > .button-container > button {
  padding: 10px 70px;
}